/* Main Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace, Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 0;
}

html::-webkit-scrollbar-thumb {
    background-color: transparent;
}

html::-webkit-scrollbar-track {
    background-color: transparent;
}

body {
    min-height: 100vh;
    background-color: #393e65;
    font-size: 14px;
}

/* Header Styles */
header {
    width: 100%;
    height: 100vh;
    background-color: #393e65;
    color: #fff;
}

header #particles {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

header .infoText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    height: 100vh;
}

header .infoText h1 {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: -10px;
}

header .infoText h3 {
    font-size: 1.5rem;
}

header .infoText .scroll {
    position: absolute;
    bottom: 20%;
    left: 50%;
    color: #fff;
    transform: translate(0, -50%);
    transition: all 0.5s;
}

header .infoText .scroll i {
    color: #fff;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
}

header .infoText .scroll:hover {
    opacity: 0.7;
}

header .infoText .scroll::before {
    position: absolute;
    top: -14px;
    left: -16px;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    animation: pulse 3s infinite;
}

header .location {
    display: flex;
    gap: 0.5rem;
}

/* Skills Header Styles */
#navbarHeader {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #414570;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
}

#banner {
    margin: 10px 0;
    height: 50px;
    padding: 14px 16px;
}

#banner h1 {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

/* Nav Bar Properties */
nav {
    height: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #fff;
    font-size: 20px;
    padding: 14px 30px;
    text-decoration: none;
    font-weight: bold;
    height: 100%;
}

nav li a:hover, .active {
    text-decoration: underline;
}

.active::after {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background-color: #000;
    border-radius: 50%;
    margin: auto;
}

/* About, Skills, Project and Main Styles */
#about, #skills {
    background-color: #393e65;
    padding: 40px;
}

#about .header, #skills .header, #main .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

#about .header h1, #skills .header h1 {
    color: #fff;
    text-transform: capitalize;
    font-size: 1.5rem;
}

#about .header a, #skills .header a, #main .header a {
    text-decoration: none;
    font-size: 1.3rem;
    color: #fff;
    background-color: #3e426b;
    border: 1px solid transparent;
    padding: 10px 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 6px;
    transition: all 0.3s ease;
    text-transform: capitalize;
}

#about .header a:hover, #skills .header a:hover, #main .header a:hover {
    border-color: #fff;
    box-shadow: none;
}

#about .header i, #skills .header i, #main .header i {
    padding-left: 15px;
}

#about .card, #skills .card, #main .card {
    background-color: #3e426b;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    display: flex;
    gap: 30px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    cursor: pointer;
}

#about .card:hover, #skills .card:hover, #main .card:hover {
    border-color: #fff;
    box-shadow: none;
}

#about .card .info, #main .card .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#about .card .info h1, #skills .card .info h1, #main .card h1 {
    margin-bottom: 20px;
    color: #fff;
    font-size: 1.7rem;
    font-weight: bold;
}

#about .card .info p, #skills .card .info p, #main .card p {
    color: #ccc;
    font-size: 1.1rem;
    line-height: 1.8rem;
}

#skills #skillCards, #skills #projectCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

#skills #skillCards .card, #skills #projectCards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    min-width: 350px;
}

#skills #skillCards .card .info i, #skills #projectCards .card .info i {
    color: #fff;
    font-size: 4rem;
    width: 100%;
    text-align: center;
    margin-bottom: 1.4rem;
}

#skills #skillCards .card .info h1, #skills #projectCards .card .info h1 {
    text-align: center;
    font-size: 1.4rem;
}

#skills #skillCards .card .info p, #skills #projectCards .card .info p {
    font-size: 1.1rem;
}

#skills a {
    text-decoration: none;
}

#main {
    background-color: #393e65;
    padding: 100px 40px 40px 40px;
}

#main .header h1 {
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    font-size: 2rem;
}

/* Scroll Button Styles */
.scrollTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #2b2f4b;
    color: #fff;
    border: 1px solid transparent;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    padding: 16px 18px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease;
}

.scrollTop:hover {
    border-color: #fff;
    box-shadow: none;
}

/* Media Query for less than 720px */
@media screen and (max-width: 720px) {

    header .infoText h1 {
        font-size: 4rem;
    }

    header .infoText h3 {
        font-size: 1.1rem;
    }

    #about .card {
        flex-direction: column;
        align-items: center;
    }
}

/* Pulse Keyframe */
@keyframes pulse {
    0%, 100% {
        opacity: 0;
    }
    15%, 45% {
        opacity: 1;
    }
    60% {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1);
        opacity: 0;
    }
}
