* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace, Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 0;
}

html::-webkit-scrollbar-thumb {
    background-color: transparent;
}

html::-webkit-scrollbar-track {
    background-color: transparent;
}

body {
    font-size: 14px;
}

header {
    width: 100%;
    height: 100vh;
    background-color: #393e65;
    color: #fff;
}

header #particles {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

header .infoText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    height: 100vh;
}

header .infoText h1 {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: -10px;
}

header .infoText h3 {
    font-size: 1.5rem;
}

header .infoText .scroll {
    position: absolute;
    bottom: 20%;
    left: 50%;
    color: #fff;
    transform: translate(0, -50%);
    transition: all 0.5s;
}

header .infoText .scroll i {
    color: #fff;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
}

header .infoText .scroll:hover {
    opacity: 0.7;
}

header .infoText .scroll::before {
    position: absolute;
    top: -14px;
    left: -16px;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    animation: pulse 3s infinite;
}

#about, #features {
    background-color: #393e65;
    padding: 40px;
}

#about .header, #features .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

#about .header h1, #features .header h1 {
    text-align: center;
    color: #fff;
    text-transform: capitalize;
}

#about .header a, #features .header a {
    text-decoration: none;
    font-size: 1.3rem;
    color: #fff;
    background-color: #3e426b;
    border: 1px solid transparent;
    padding: 10px 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 6px;
    transition: all 0.3s ease;
    text-transform: capitalize;
}

#about .header a:hover, #features .header a:hover {
    border-color: #fff;
    box-shadow: none;
}

#about .card, #features .card {
    background-color: #3e426b;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    display: flex;
    gap: 30px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    cursor: pointer;
}

#about .card:hover, #features .card:hover {
    border-color: #fff;
    box-shadow: none;
}

#about .card .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#about .card .info h1, #features .card .info h1 {
    margin-bottom: 20px;
    color: #ccc;
    font-size: 1.7rem;
    font-weight: bold;
}

#about .card .info p, #features .card .info p {
    color: #ccc;
    font-size: 1.1rem;
    line-height: 1.8rem;
}

#features .featureCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

#features .featureCards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    min-width: 350px;
}

#features .featureCards .card .info i {
    color: #fff;
    font-size: 4rem;
    width: 100%;
    text-align: center;
    margin-bottom: 1.4rem;
}

#features .featureCards .card .info h1 {
    text-align: center;
    font-size: 1.4rem;
}

#features .featureCards .card .info p {
    text-align: center;
    font-size: 1.1rem
}

.scrollTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #2b2f4b;
    color: #fff;
    border: 1px solid transparent;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    padding: 16px 18px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease;
}

.scrollTop:hover {
    border-color: #fff;
    box-shadow: none;
}

@media screen and (max-width: 720px) {

    header .infoText h1 {
        font-size: 4rem;
    }

    header .infoText h3 {
        font-size: 1.1rem;
    }

    #about .card {
        flex-direction: column;
        align-items: center;
    }
}

@keyframes pulse {
    0%, 100% {
        opacity: 0;
    }
    15%, 45% {
        opacity: 1;
    }
    60% {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1);
        opacity: 0;
    }
}
